---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Forum | Astro Tonight">
    <section class="page-content">
        <div class="container">
            <h2>Forums</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, vel
                quas repudiandae optio voluptatibus dolore maxime sed nisi ad, quod
                exercitationem. Magni facilis ducimus neque nostrum voluptas, eius,
                aliquam ullam eligendi corporis perferendis dolor iusto veniam cumque
                saepe iste porro, non optio amet. Enim esse porro incidunt sequi
                consectetur vitae.
            </p>
        </div>
    </section>
</Layout>