---
import { getCollection } from "astro:content";

const planets = await getCollection("planets");
console.log(planets)
---

<Layout title="Planets | Welcome to Galaxy">
	<Main>
		<H1 text="xxx Galaxy"/>
	</Main>
</Layout>
