---
import logo from "../images/logo2.svg"
import {Image} from "astro:assets"
---
<astro>
  <!--
  <header class="bg-gray-600 text-white py-2 shadow-lg">
    <div class="container mx-auto flex justify-between items-center relative z-10">
      <div class="text-3xl font-extrabold justify-start">
        <a href="/" class="flex gap-x-4 items-center">
          <Image
              src="/heartbeat.png"
              alt="Astro Tonight"
              width={64}
              height={64}
              format="webp"
              class="w-16"
          />
  
          <p class="hover:text-red-500 transition-colors duration-300 transform hover:scale-105 text-glow-red">Astro Tonight</p>
        </a>
      </div>
      <nav class="space-x-6">
        <a href="/" class="hover:text-red-500 transition-colors duration-300 transform hover:scale-105 text-glow-red">Home</a>
        <a href="/gallery" class="hover:text-red-500 transition-colors duration-300 transform hover:scale-105 text-glow-red">Gallery</a>
        <a href="/forums" class="hover:text-red-500 transition-colors duration-300 transform hover:scale-105 text-glow-red">Forums</a>
        <a href="/about" class="hover:text-red-500 transition-colors duration-300 transform hover:scale-105 text-glow-red">About</a>
        <a href="/contact" class="hover:text-red-500 transition-colors duration-300 transform hover:scale-105 text-glow-red">Contact</a>
      </nav>
    </div>
  </header> -->

  <header class="header">
    <div class="container">
      <div class="logo">
        <a href="/">
            <Image
              src="/images/logo2.svg"
              alt="Astro Tonight"
              width={64}
              height={64}
              format="webp"
              class="w-16"/>
        </a>
      </div>
      <div class="container">
        <a href="/"><h1 class="h1">Astro Tonight</h1></a>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/forums">Forums</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
      </nav>
    </div>
  </header>

</astro>

    
  <style>
    /* Text glow effect with a red color 
    .text-glow-red {
      text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
    } */
  
    /* Background glow effect with a red color 
    .glow-red {
      box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
    }  */

    .header {
    height: 70px;
    background: var(--color-primary);
    }

    .header .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
    }

    .header .container .h1 {
      color: #fff;
      font-size: 30px;
    }

    .header img {
      height: 35px;
      vertical-align: middle;
    }

    .header nav ul {
      display: flex;
    }

    .header nav ul li {
      padding: 0 10px;
    }

    .header nav ul li a {
      color: #fff;
    } 
  </style>


  