---
import type { CollectionEntry } from "astro:content";
import Planet from './Planet.astro';

type Props = {
    planets: CollectionEntry<'planets'>[];
};

const { planets } = Astro.props;
---

<div class="grid grid-cols-2 gap-x-16 gap-y-32 max-md:grid-cols-1 max-sm:gap-y-14">
    {planets.map(planet => <Planet planet={planet} />)}
</div>